<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>mini</display-name>
    <servlet>
        <servlet-name>Spring-1.0</servlet-name>
        <servlet-class>framework.webmvc.DispatchServlet</servlet-class>
        <init-param>
            <param-name>contextConfiguration</param-name>
            <param-value>application.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Spring-1.0</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
